$colorPoint: #2EFF73;
$colorBlack: black;
$colorBlue: #4F2396;
$colorOrange: #F69554;
$colorText: #00000080;
$colorBlueLink: #005DBA;
$blueNormal: #967EBD;
$colorEsay: #A391C0;
$colorRed: #FF0000;
$colorShdow: #ccc;
$colorwhite: white;