$colorPoint: #2EFF73;
$colorBlack: black;
$colorBlue: #4F2396;
$colorOrange: #F69554;
$colorText: #00000080;
$colorBlueLink: #005DBA;
$blueNormal: #967EBD;
$colorEsay: #A391C0;
$colorRed: #FF0000;
$colorShdow: #ccc;
$colorwhite: white;
$colorListPublis: #5C5C5C;
$colorSignIn: #ABABAB;
$colorPass: #F69554CC;
$colorHoverArraw: #eee;
$colordata: #F6955480;
$colorBorderOne: #ff6347;
$colorBorderTow: #00bfff;
$colorButtonLogOut: #FF0A0EB2;