@import "color";

// start General Code
body {
    font-family: "Kanit", sans-serif !important;
    font-weight: 100 !important;
    font-style: normal !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: $colorBlue;
}

.cursorMouse {
    cursor: pointer;
}

input:focus-visible,
select:focus-visible {
    outline: 0 !important;
}

.buttonNavbarlanguage {
    border-right: 2px solid $colorBorderOne;
    border-left: 2px solid $colorBlue;
    border-top: 2px solid $colorBlue;
    border-bottom: 2px solid $colorBorderOne;
    width: 118px;
    height: 38px;
    padding: 2px;
    z-index: 1;

    .boxButton {
        display: none;
        top: 120%;
        max-height: 200px;
        z-index: 1;
    }

    .boxButton::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 8px solid $colorShdow;
        top: -8px;
        left: 19%;
        transform: translateX(-50%);
    }

    .boxButton .option:hover {
        background-color: #f0f0f0;
    }

    .divBoxArrow {
        height: 98%;
        padding-left: 18px;
        padding-bottom: 2px;
    }

    .divBoxArrow::before {
        content: "";
        background-image: url("/assest/images/iconArrow.svg");
        background-size: 15px 15px;
        background-repeat: no-repeat;
        position: absolute;
        right: 30px;
        top: 12.5px;
        transition: transform 0.3s ease;
        width: 15px;
        height: 15px;
    }

    .divBoxArrow.open+.boxButton {
        display: block;
    }

    .divDropDwon.open::before {
        transform: rotate(180deg);
    }

    .divDropDwonSort.open::before {
        transform: rotate(180deg);
    }

    .divBoxArrowOverflow {
        background-color: $colorOrange;
    }

    .divBoxArrowOverflow::before {
        filter: invert(1) brightness(1000%) grayscale(10000%);
    }

    .divBoxArrowSalary.open::before,
    .divBoxArrowNumber.open::before,
    .divBoxArrowOverflow.open::before {
        transform: rotate(180deg);
    }
}

.heightFull {
    min-height: 100vh;
}

.heightFulllogin {
    height: 100vh;
}

.spanColorCard {
    color: $colorText;
}

.sizeSpan {
    font-size: 14px;
}

.checkEmail {
    color: $colorOrange;
}

.backgroundRightSignIn {
    background-color: $colorBlue !important;
}

.tableScroll::-webkit-scrollbar {
    height: 8px !important;
}

.spanColorUser {
    color: $colorBlue;
}

.buttonAdd {
    background-color: $colorOrange;
}

.buttonAdd::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 40%;
    border-radius: 50px;
    background-color: $colorBlue;
    transition: 0.3s;
}

.buttonAdd:hover::before {
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.colorButtonLogOut {
    background-color: $colorButtonLogOut;
    padding: 10px;
}

.inputSignIn::placeholder {
    color: $colorShdow !important;
    font-weight: bold;
}

.divTextInputForm {
    right: 15px;
    top: -15px;
    z-index: 1;
}

.inputSpanIndex {
    z-index: 1;
}

.classTopList {
    margin-top: 75px !important;
}

.custom-select {
    position: relative;
    color: $colorSignIn;
}

.custom-select-trigger {
    position: relative;
    display: block;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.3s;
}

.custom-options:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 25px;
    margin-top: -3px;
    transform: rotate(45deg) translateY(-50%);
    transition: all 0.4s ease-in-out;
    transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    width: 70%;
    top: 100%;
    left: -10px;
    border-radius: 10px 10px 0 0;
    margin: 5px 0;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
    background-color: $colorHoverArraw;
    transition: all 0.4s ease-in-out;
    margin-left: 20px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    font-size: 18px;
    font-weight: 600;
    color: $colorBlack;
    line-height: 37px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.custom-option:hover,
.custom-option.selection {
    border-radius: 10px 10px 0 0;
    background: #F6955466;
}

.custom-select-trigger::before {
    content: url("/assest/images/iconArrow.svg");
    position: absolute;
    top: 0;
    left: 10px;
    transition: 0.3s;
}

.custom-select.opened .custom-select-trigger::before {
    transform: rotate(-180deg);
}

body div div section form div div .indexRow:nth-child(-n+4) {
    z-index: 4 !important;
}

body div div section form div div .indexRow:nth-child(-n+8) {
    z-index: 3;
}

.buttonAddOverflowNumber {
    padding: 15px 20px;
    background-color: $colorOrange !important;
}

.buttonAddOverflowNumber:hover::before {
    border-radius: 5px;
    height: 100%;
}

.colorBlue {
    color: $colorBlue;
}

.stringSignIn {
    width: 75%;
    color: $colorSignIn;
}

.gapRow {
    row-gap: 20px;
}

.gapRowForm {
    row-gap: 35px;
}

.noneResize {
    resize: none;
}

// end General Code

// start navbar
body nav {
    top: 10px;
}

body nav div div div .divBeforeBell {
    background-color: $colorRed;
    width: 7px;
    height: 7px;
    top: 6px;
}

body nav div div .beforePoint {
    color: $colorEsay;
}

body nav div div .beforePoint::before {
    content: "";
    position: absolute;
    background-color: $colorPoint;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 13px;
    border-radius: 50px;
}

// end navbar
// start navbar defails
body div div .navbarDetails div div .divHoverImage .hoverArraw {
    left: 0;
    transition: 0.3s;
}

body div div .navbarDetails div div .divHoverImage {
    background-color: $colorHoverArraw;
}

body div div .navbarDetails div div .divHoverImage:hover {
    .hoverArraw {
        left: -5px;
    }
}

.rotateImage {
    transition: 0.7s;
}

.rotateImage:hover {
    transform: rotate(362deg);
}

// end navbar defails
// start menu
body div nav div div .alginStartMobile li .hoverListMenu div .imageArrawTop {
    transform: rotate(0);
    transition: 0.3s;
}

body div nav div div .alginStartMobile li .activeListPage,
body div nav div div .alginStartMobile li .hoverListMenu:hover {
    background-color: $colorBlue;

    div {
        img {
            filter: invert(1) brightness(1000%) grayscale(10000%);
        }

        .imageArrawTop {
            transform: rotate(90deg);
        }

        span {
            color: $colorwhite;
        }
    }
}

body div nav div div .alginStartMobile li .activeList {
    background-color: $colorBlue !important;

    div {
        .imageBlue {
            filter: invert(1) brightness(1000%) grayscale(10000%);
        }

        .imageArrawTop {
            filter: invert(1) brightness(1000%) grayscale(10000%);
            transform: rotate(90deg);
        }

        span {
            color: $colorwhite;
        }
    }
}

body div nav div div .alginStartMobile li div div .sizeSpanMenu {
    font-size: 18px;
}

.buttonAddOverflow::before {
    top: 50%;
}

.buttonAddOverflow:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

// end menu
// start data
body div div section ul .divDataCol {
    height: 45px;
    background-color: $colordata;
    transition: 0.3;
}

body div div section ul .divDataCol::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 50%;
    border-radius: 20px;
    background-color: $colorBlue;
    transition: 0.3s;
}

body div div section ul .divDataCol:hover::before {
    width: 570px;
    height: 170px;
    right: 0;
}

body div div section ul .divDataCol:hover {
    margin-top: -10px;
    transition: 0.3s;

    div {
        span {
            color: $colorwhite;
        }
    }
}

// end data
// start cards
body .divCards div div div .styleCard div div .spanCardBlue {
    color: $colorBlue;
}

body .divCards div div div .styleCard {
    box-shadow: 0 8px 15px 3px $colorShdow;
    min-height: 130px;
    transition: 0.3s;
}

body .divCards div div div .styleCard:hover {
    color: $colorwhite;
    margin-top: -10px;
    transition: 0.3s;

    div {
        div {
            span {
                color: $colorwhite;
            }

            img {
                filter: invert(1) brightness(1000%) grayscale(10000%);
            }
        }
    }
}

body .divCards div div div .styleCard::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 20px;
    background-color: $colorBlue;
    transition: 0.3s;
}

body .divCards div div div .styleCard:hover::before {
    width: 100%;
    height: 100%;
}

// end cards
// start containt
body div div section section div .paddingShadow {
    padding: 10px 55px !important;
}

body div div div div ul .listRight {
    background-color: rgba(98, 98, 104, 0.118);
}

body div div div div ul .listRight div .listChild li .spanPublids {
    color: $colorListPublis;
}

body div div div div ul .listRight div .listChild li:last-child .spanPublids {
    color: $colorBlue;
}

body div div div div ul .listRight div .listChild li .imageStar {
    width: 12px;
}

body div div section section div .paddingShadow div div .circle {
    width: 175px;
    height: 175px;
    background-color: $colorBlue;
}

body div div section section div .paddingShadow div div .circle .angle {
    width: 100%;
    height: 100%;
    background-color: #cccccc66;
    transform: rotate(-40deg);
}

body div div section section div .paddingShadow div div .childBuilds .beforeBuilds {
    span {
        color: $colorListPublis;
    }
}

body div div section section div .paddingShadow div div .childBuilds .beforeBuilds::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    top: 7px;
    right: -22px;
    background-color: $colorShdow;
}

body div div section section div .paddingShadow div div .childBuilds .beforeBuilds:last-child::before {
    background-color: $colorBlue;
}

body div div section section div .paddingShadow div div .stylelist {
    li {
        color: $colorShdow;
    }
}

body div div section section div .paddingShadow div div .stylelist .listLine::before {
    content: "";
    position: absolute;
    width: 650px;
    height: 2px;
    left: 60px;
    top: 14px;
    background-color: $colorShdow;
    z-index: -2;
}

.formControl {
    left: 0;
    top: 20px;
    opacity: 0;
}

body div div section section div .paddingShadow div .divPaddingNumber .childLine div div .divLineBlue,
body div div section section div .paddingShadow div .divPaddingNumber .childLine div div::before,
body div div section section div .paddingShadow div .divPaddingNumber .childLine div div::after {
    width: 23px;
}

body div div section section div .paddingShadow div .divPaddingNumber .childLine {

    div:nth-child(1) {
        div {
            .divLineBlue::before {
                min-height: 50px;
            }

            .lineBox::before {
                background-color: $blueNormal;
                width: 23px;
                height: 40px;
                bottom: 50px;
                z-index: -1;
            }

            .lineBox::after {
                background-color: $colorEsay;
                width: 23px;
                height: 48px;
                bottom: 50px;
                z-index: -2;
            }
        }
    }

    div:nth-child(2) {
        div {
            .divLineBlue::before {
                min-height: 65px;
                bottom: 25px;
            }

            .lineBox::before {
                height: 50px;
                bottom: 65px;
            }

            .lineBox::after {
                height: 53px;
                bottom: 75px;
            }
        }
    }

    div:nth-child(3) {
        div {
            .divLineBlue::before {
                min-height: 38px;
            }

            .lineBox::before {
                height: 40px;
                bottom: 43px;
            }

            .lineBox::after {
                height: 53px;
                bottom: 70px;
            }
        }
    }

    div:nth-child(4) {
        div {
            .divLineBlue::before {
                min-height: 50px;
            }

            .lineBox::before {
                height: 60px;
                bottom: 43px;
            }

            .lineBox::after {
                height: 53px;
                bottom: 78px;
            }
        }
    }

    div:nth-child(5) {
        div {
            .divLineBlue::before {
                min-height: 30px;
            }

            .lineBox::before {
                height: 33px;
                bottom: 50px;
            }

            .lineBox::after {
                height: 53px;
                bottom: 70px;
            }
        }
    }

    div:nth-child(6) {
        div {
            .divLineBlue::before {
                min-height: 58px;
                bottom: 25px;
            }

            .lineBox::before {
                height: 60px;
                bottom: 75px;
            }

            .lineBox::after {
                height: 50px;
                bottom: 80px;
            }
        }
    }

    div:nth-child(7) {
        div {
            .divLineBlue::before {
                min-height: 40px;
                bottom: 25;
            }

            .lineBox::before {
                height: 60px;
                bottom: 50px;
            }

            .lineBox::after {
                height: 53px;
                bottom: 83px;
            }
        }
    }

    div:nth-child(8) {
        div {
            .divLineBlue::before {
                min-height: 50px;
                bottom: 25px;
            }

            .lineBox::before {
                height: 60px;
                bottom: 67px;
            }

            .lineBox::after {
                height: 53px;
                bottom: 80px;
            }
        }
    }

    div:nth-child(9) {
        div {
            .divLineBlue::before {
                min-height: 40px;
                bottom: 25px;
            }

            .lineBox::before {
                height: 60px;
                bottom: 60px;
            }

            .lineBox::after {
                height: 53px;
                bottom: 73px;
            }
        }
    }

    div:nth-child(10) {
        div {
            .divLineBlue::before {
                min-height: 55px;
                bottom: 25px;
            }

            .lineBox::before {
                height: 60px;
                bottom: 53px;
            }

            .lineBox::after {
                height: 53px;
                bottom: 70px;
            }
        }
    }

    div:nth-child(11) {
        div {
            .divLineBlue::before {
                min-height: 35px;
                bottom: 25px;
            }

            .lineBox::before {
                height: 60px;
                bottom: 35px;
            }

            .lineBox::after {
                height: 53px;
                bottom: 75px;
            }
        }
    }

    div:nth-child(12) {
        div {
            .divLineBlue::before {
                min-height: 35px;
                bottom: 25px;
            }

            .lineBox::before {
                height: 60px;
                bottom: 40px;
            }

            .lineBox::after {
                height: 53px;
                bottom: 74px;
            }
        }
    }
}

body div div section section div .paddingShadow div .divPaddingNumber .childLine div div .divLineBlue .lineBox::before {
    background-color: $blueNormal;
    z-index: -1;
    width: 23px;
}

body div div section section div .paddingShadow div .divPaddingNumber .childLine div div .divLineBlue .lineBox::after {
    width: 23px;
    background-color: $colorEsay;
    z-index: -2;
}

body div div section section div .paddingShadow div .divPaddingNumber .childLine div div .divLineBlue::before {
    content: "";
    position: absolute;
    background-color: $colorBlue;
    width: 23px;
    bottom: 25px;
    left: 7px;
    border-radius: 5px 5px 0 0;
}

body div div section section div .paddingShadow div .divPaddingNumber .childLine div div .divLineBlue .lineBox::before,
body div div section section div .paddingShadow div .divPaddingNumber .childLine div div .divLineBlue .lineBox::after {
    content: "";
    position: absolute;
    left: 7px;
    border-radius: 5px 5px 0 0;
}

.chart {
    width: 48%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shadowHeight {
    max-height: 630px;
    border-radius: 10px 10px 0 0;
}

body div div section section div .paddingShadow div::-webkit-scrollbar,
.shadowHeight::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

body div div section section div .paddingShadow div::-webkit-scrollbar-thumb,
.shadowHeight::-webkit-scrollbar-thumb {
    background: $colorBlue;
}

.imageSize {
    width: 50px;
    height: 50px;
}

// end containt
// start sign in 
body div .widthSignIn {
    width: 50%;
}

body div .backgroundRightSignIn div .divBeforeImageSignIn .imageuserSignIn {
    width: 450px;
    z-index: 1;
}

body div .backgroundRightSignIn div .divBeforeImageSignIn::before {
    content: url("/assest/images/circle.png");
    position: absolute;
    bottom: 20px;
}

body div .backgroundRightSignIn div .divBeforeImageSignIn::after {
    content: url("/assest/images/circle.png");
    position: absolute;
    bottom: -90px;
    left: -400px;
}

body div .widthSignIn div form div .buttonNavbarlanguageSignIn .inputSignIn {
    height: 61px;
    border-top: 2px solid $colorBorderOne;
    border-left: 2px solid $colorBorderOne;
    border-right: 2px solid $colorBorderTow;
    border-bottom: 2px solid $colorBorderTow;
}

body div .widthSignIn div form div .buttonNavbarlanguageSignIn div .divTextInput {
    right: 30px;
    top: -18px;
}

body div .widthSignIn div form div .buttonNavbarlanguageSignIn div .stylePass {
    a {
        color: $colorPass;
    }
}

body div .widthSignIn div form div div .styleInputSubmit {
    background-color: $colorBlue;
}

body div .widthSignIn div form div div .styleInputSubmit .hoverInput {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: $colorOrange;
    z-index: 0;
    transition: 0.5s;
}

body div .widthSignIn div form div div .styleInputSubmit:hover .hoverInput {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// end sign in
// start synopsis
body div div section .gapRow div .imageHover img {
    transition: transform 0.3s ease;
}

body div div section .gapRow div .imageHover:hover {
    img {
        transform: scale(1.1);
    }
}

// end synopsis
// start Social media
body div div section ul li .divBorder {
    border-right: 2px solid $colorOrange;
    border-left: 2px solid $colorOrange;
    border-top: 2px solid $colorPass;
    border-bottom: 2px solid $colorPass;
    transition: 0.4s;
}

body div div section ul li .divBorder .divWhiteBorder {
    margin: 1.4px;
    width: 154%;
    padding: 40px;
}

body div div section ul li .divBorder .divWhiteBorder .divSocialMedia::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: -20px;
    left: -25px;
    border-radius: 50px;
    background-color: $colorBlue;
    transition: 0.3s;
}

body div div section ul li .divBorder:hover {
    margin-top: -20px;
}

body div div section ul li .divBorder:hover .divWhiteBorder .divSocialMedia::before {
    width: 200px;
    height: 200px;
    top: -50px;
    left: -88px;
}

// end Social media
// start Notifications
body div div section div ul li div .widthDiv {
    background-color: $colorPass;
    width: 50px;
    height: 50px;
}

body div div section div ul li div .widthDiv::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 42%;
    top: 42%;
    border-radius: 50%;
    background-color: $colorBlue;
    transition: 0.3s;
}

body div div section div ul li div .widthDiv:hover::before {
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}

// end Notifications
// start details
body div div section div div div div .divImageSearch {
    top: 15px;
    right: 22px;
}

body div div section div div div div .boxButtonStor {
    top: 60px;
    display: none;
}

// end details
// start table
.thPadding {
    padding: 20px;
}

.divTable {
    height: 70px;
    width: 100%;
    z-index: -1;
}

.hoverTr:hover {
    background-color: $colorHoverArraw;
}

.doubleBorderCheckbox {
    appearance: none;
    width: 25px;
    height: 25px;
}

.doubleBorderCheckbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 2px solid $colorBorderOne;
    border-left: 2px solid $colorBlue;
    border-top: 2px solid $colorBlue;
    border-bottom: 2px solid $colorBorderOne;
    border-radius: 6px;
}

.doubleBorderCheckbox:checked::before {
    content: "\2713";
    font-size: 18px;
    color: $colorBlue;
    text-align: center;
}

// end table
// start form user
.divClose,
.divOpen {
    width: 25%;
}

.divClose {
    border: 2px solid $colorBlue !important;
    background-color: transparent;
}

.divOpen:hover::before,
.divClose::before {
    top: 20px;
    left: 47%;
}

.divClose:hover {
    border: 2px solid $colorBlue !important;

    span {
        color: $colorwhite;
    }
}

.divOpen::before,
.divClose:hover::before {
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    border-radius: 40px;
}

.divOpen:hover::before {
    top: 20px;
    left: 47%;
    width: 0;
    height: 0;
}

.divOpen {
    color: $colorwhite;
}

.divOpen:hover {
    span {
        color: $colorBlue;
    }
}

.modal .modal-content svg.icon-svg {
    max-width: 100px;
    max-height: 100px;
}

.modal .modal-content .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.modal .modal-content .path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}

.modal .modal-content .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.95s 0.35s ease-in-out forwards;
    animation: dash 0.95s 0.35s ease-in-out forwards;
}

.modal .modal-content .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards;
    animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}

.absoluteCenter {
    top: 33%;
    left: 35%;
}

body div div div div div .buttonAddNews::before {
    width: 100% !important;
    border-radius: 0;
}

body div div div div div .buttonAddNews:hover::before {
    left: 0;
    top: 0;
}

body div div div div div .buttonAddNews {
    width: 40%;
    padding: 18px;
}

body div div div div div form div div div .divTextInputFormOverflow {
    right: 40px;
}

body div div div div div form div div div .absoluteCenterPhone {
    top: 15px;
    left: 18px;
}

// end form user
// start media
@media (max-width: 1192px) {
    body div div .divCards div .gapPageTap {
        row-gap: 20px;
    }

    .noneTap {
        display: none;
    }

    body div nav div div .alginStartMobile {
        align-items: center;

        li {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    body div div section div section ul .shadowHeight .listRight div .sizeTap {
        font-size: 5px;
    }

    .classTopList {
        margin-top: 100px !important;
    }

    body div div section section div .paddingShadow div div .circle .angle {
        width: 115%;
        height: 115%;
    }
}

@media (max-width: 990px) {
    body div div section section div .paddingShadow div div .circle .angle {
        width: 1100%;
        height: 1100%;
    }

    body div div section section div .paddingShadow div .divPaddingNumber {
        padding-top: 100px;
    }

    body div div section section div .paddingShadow {
        padding: 15px !important;
    }

    .widthForm {
        width: 100% !important;
    }

    .stringSignIn {
        width: 100%;
    }

    .sizeSpan {
        font-size: 10px;
    }

    .divTable {
        width: 900px;
        top: 23px;
    }

    .divHiddenModile {
        overflow: auto;
    }

    .thPadding {
        padding: 10px;
    }

    body div .backgroundRightSignIn div .divBeforeImageSignIn .imageuserSignIn {
        width: 350px;
    }

    .noneMobile {
        display: none;
    }

    .classMobileList {
        margin-top: 10px !important;
    }

    .absoluteCenter {
        top: 33%;
        left: 17%;
    }

    body div div section form div div .indexRow:nth-child(1) {
        z-index: 8 !important;
    }

    body div div section form div div .indexRow:nth-child(2) {
        z-index: 7 !important;
    }

    body div div section form div div .indexRow:nth-child(3) {
        z-index: 6 !important;
    }

    body div div section form div div .indexRow:nth-child(6) {
        z-index: 5 !important;
    }

    body div div section form div div .indexRow:nth-child(7) {
        z-index: 4 !important;
    }

    body div div section form div div .indexRow:nth-child(8) {
        z-index: 3 !important;
    }

    body div div section form div div .indexRow:nth-child(9) {
        z-index: 2 !important;
    }

    body div div section form div div .indexRow:nth-child(10) {
        z-index: 1 !important;
    }
}

// end media