@import "color";

// start General Code
.custom-select-trigger::before {
    left: unset;
    right: 10px;
}

.divTextInputForm {
    right: unset;
    left: 15px;
}

.custom-options {
    left: unset;
    right: 10px;
}

// end General Code
// start navbar
body nav div div .beforePoint::before {
    right: 30%;
    bottom: 12px;
}

// end navbar
// start sign in
.buttonNavbarlanguage {
    .divBoxArrow::before {
        right: 70px;
    }

    .divBoxArrow {
        padding-right: 15px;
    }
}

body div section div .divBeforeImageSignIn .positionCircle {
    bottom: 20px;
}

body div section div .divBeforeImageSignIn .positionCircleLeft {
    bottom: -90px;
    left: unset;
    right: -400px;
}

// end sign in
// start containt
.shadowHeight {
    direction: ltr;
}

body div div section div div .paddingShadow div div .stylelist .listLine::before {
    left: unset;
    right: 60px;
}

body div div section div .rowReverseMobile div div div div .divImageSearchOverflow {
    right: unset !important;
    left: 20px;
}

body div div section div .rowReverseMobile div div .chatContainer .chatBox .message .messageText {
    border-radius: 28px 0 28px 28px;
}

body div div section div .rowReverseMobile div div .chatContainer div .messageStay .messageText {
    right: unset;
    left: -90px;
}

body div div section div .rowReverseMobile div div .chatContainer div .messageStay .messageStayRight {
    right: unset;
    left: 0;
}

body div div section div .rowReverseMobile div div .chatContainer div .messageStay .messageText,
body div div section div .rowReverseMobile div div .chatContainer .chatBox .supportMessage .messageText {
    border-radius: 0 28px 28px 28px;
}

// end containt
// start details
body div div section div div div div .divImageSearch {
    right: unset;
    left: 32px;
}

// end details
// start form user
body div .widthSignIn div form div .buttonNavbarlanguageSignIn div .divTextInput {
    right: unset;
    left: 30px;
}

body div div div div div form div div div .absoluteCenterPhone {
    left: unset;
    right: 18px;
}

// end form user
// start navbar defails
body div div .navbarDetails div div .divHoverImage {
    img {
        transform: rotate(-180deg);
    }
}

body div div .navbarDetails div div .divHoverImage:hover {
    .hoverArraw {
        left: 5px;
    }
}

// end navbar defails
// start menu
body div nav div div .alginStartMobile li .hoverListMenu div .imageArrawTop {
    transform: rotate(-180deg);
    transition: 0.3s;
}

body div nav div div .alginStartMobile li .activeList,
body div nav div div .alginStartMobile li .activeListPage,
body div nav div div .alginStartMobile li .hoverListMenu:hover {
    background-color: $colorBlue;

    div {
        img {
            filter: invert(1) brightness(1000%) grayscale(10000%);
        }

        .imageArrawTop {
            transform: rotate(-270deg);
        }

        span {
            color: $colorwhite;
        }
    }
}

// end menu
// start table
tr:first-child th:first-child {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tr:first-child th:last-child {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

// end table